:root {
  --header-color: #ffffff;
  --first-title-color: #212121;
  --second-title-color: #757575;
  --accent-color: #2196f3;
  --first-btn-color: #ffffff;
  --second-btn-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--first-title-color);
}
